@keyframes showHide {
  0% {
    opacity: 0;
    /* transform: translateX(-2%); */
  }
  100% {
    /* transform: translateX(0%); */
    opacity: 1;
  }
}

:root {
  --color-blueLight-bg:#F4FAFD;
  --color-primary-orange: #EE7D00;
  --color-primary-purple: hsl(217, 49%, 37%);
  --color-white-bg: #DDD;
  --color-white-light: #fff;
  --color-primary-blue: #38327C;

  --border-test: 2px solid rgb(121, 200, 121);

  --color-white-dark: #c4c2c2;
  --color-gray-dark: rgb(72, 71, 71);
  --color-gray-normal: gray;
  --color-gray-light: rgb(205, 198, 198);
  --color-gray-lightest: rgb(205, 198, 198, 0.3);
  --color-gray-bg :rgb(243, 245, 250);

  --color-black-light: #4c4d4d;
  --color-black-dark: black;
  --color-white-ddd: #ddd;
}


*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  background: transparent;
  list-style: none;
}

a {
  cursor: pointer;
}

.main {
  width: 100%;
  position: relative;
  background-color: var(--color-white-bg);
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  height: 100%;
  line-height: 1.4;
  color: var(--color-black-light);
  background: var(--color-white-bg);
  font-family: 'Poppins', sans-serif;
}

[class*="col-"] {
  float: left;
  padding: 0 15px;
}

.container {
  /* 1340 for BneQ */
   max-width: 1310px;
   margin: 0 auto;
   width: 100%;
   padding: 0 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.flexrow {
  display: flex;
  align-items: center;
}

.flexcenter {
  display: flex;
  align-items: center;
}

.flexcenter-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row::after, 
.clearFix::after {
  content: "";
  display: table;
  clear: both;
}

section {
  padding: 80px 0;
}
/* ------------------------ */
.text_center {
  text-align: center;
}

.text_justify {
  text-align: justify;
}

li, a {
  cursor: pointer;
}

.lbBg {
  background: var(--color-blueLight-bg);
}
.color-primary-orange {
  color: var(--color-primary-orange);
}
.color-primary-blue {
  color: var(--color-primary-blue);
}

img {
  width: 100%;
}
/* --------------- */
.col-1{
  width:8.6%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-5 {
  width: 41.66%;
}

.col-4 {
  width: 33.33%;
}
.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-12 {
  width: 100%;
}

.Btn {
  font-size: 14px;
  outline: none;
  padding: 12px 20px;
  min-height: 40px;
  min-width: 115px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid transparent;
  color:var(--color-primary-blue);
}
.Btn--primary {
  border-color: var(--color-primary-orange);
  background: var(--color-primary-orange);
  color:var(--color-white-light)
}
.Btn--outline {
  border-color: var(--color-primary-orange);
  background-color: transparent;
  color: var(--color-primary-orange);
}
.Btn--rounded {
  border-radius: 10px;
}

.Btn--shadow {
  box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
}

.mrtop25 {
  margin-top: 25px;
}
.mrbtm25 {
  margin-bottom: 25px;
}
.mrtop15 {
  margin-top: 15px;
}
.mrbtm15 {
  margin-bottom: 15px;
}
.mrtop10 {
  margin-top: 10px;
}
.mrbtm10 {
  margin-bottom: 10px;
}

.pdtop25 {
  padding-top: 25px;
}
.pdbtm25 {
  padding-bottom: 25px;
}

.pdbtm15 {
  padding-bottom: 15px;
}
.navigation a.active,.navigation a:hover {
  color: var(--color-primary-orange);
  border-bottom-color: var(--color-primary-orange); ;
}

.head {
  display: flex;
  flex-direction: column;
}
header {
  background-color: var(--color-white-light);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
header .logo_part {
  margin-right: auto;
}

ul.navigation {
  display: flex;
  gap: 20px;
}

ul.navigation li a {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
  color: #343434;
  border-bottom: 2px solid transparent ;
  padding-bottom: 5px;
}

h1 {
  color: linear-gradient(92.58deg, #FB6668 22.94%, #FD736C 109.11%);
}

.header2 {
  background: #fff;
  min-height: 40px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
  margin-top: 1px;
}

ul.navigation2 {
  display: flex;
  justify-content: center;
  /* gap: 20px; */
}

ul.navigation2 a {
  position: relative;
  text-decoration: none;
  padding: 10px;
  font-size: 13px;
  display: flex;
  border-bottom: 2px solid transparent;
  color: #121112;
}

ul.navigation2 a::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 0;
  opacity: 0.1;
  background: linear-gradient(90deg, #F37335 -0.36%, #FDC830 100%);
  transition: 0.5s;
}
ul.navigation2 a:hover::before , ul.navigation2 a.active::before {
  height: 100%;
}
ul.navigation2 a:hover, ul.navigation2 a.active {
  border-bottom-color: var(--color-primary-orange);
}



/* banner  */
#banner {
  padding: 65px 0;
  position: relative;
}
#banner::after {
  position: absolute;
  content: "";
  top:0;
  right: 0;
  height: 100%;
  width: 40%;
  background: linear-gradient(90deg, #F37335 -0.36%, #FDC830 100%);
  opacity: 0.05;
}
#banner .card  {
  display: inline-block;
  background-color: var(--color-white-light);
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
  linear-gradient(to right, #F37335, #FDC830) border-box;
  border-radius: 10px;
  /* background-image: url(./Assets/orangeBg.png); */
  /* background-image: ; */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
}
#banner .container {
  position: relative;
  z-index: 1;
}

#banner .card .about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#banner .card p {
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
}
#banner .card span {
  color: #585858;
  font-weight: 300;
  font-size: 14px;
  line-height: 180%;
}

#banner .card img{
  border-radius: 10px;
  width: 400px;
  height: 400px;
 }
 
#banner .text_side h3,  .heading_part h3 {
  font-weight: 400;
  font-size: 50px;
  line-height: 130%;
}

#banner .text_side h3 span {
  /* background-color: lin; */
  /* color: #F37335; */
  background: linear-gradient(to right, #F37335 0%, #FDC830 100%);
  background-clip: text;
	-webkit-text-fill-color: transparent;
}

#banner .text_side p {
  margin-top: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
}

#banner .card p {
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
 }


 #ecos .container > h3{
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
 }
 #ecos .container > p {
  margin-bottom: 50px;
 }
 h3 > span {
  background: linear-gradient(to right, #F37335 0%, #FDC830 100%);
  background-clip: text;
	-webkit-text-fill-color: transparent;
 }
 #ecos img {
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
 }

 .row p {
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #585858;
 }
 #ecos .row  p{
  margin-bottom: 50px;
  }

  #ecos .wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }


 
  

.accordian {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(74, 70, 70, 0.15);
  padding: 20px 10px ;
  cursor: pointer;
}

.bgWhite {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
  background-color: #fff;
}

.accoridan_head {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-primary-blue);
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #121112;
}

.accoridan_head {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: #121112;
}

.accordian_body {
  height: 0px;
  overflow: hidden;
  font-weight: 400;
font-size: 13px;
line-height: 180%;
/* or 23px */


/* Style */

color: #585858;
}
.fa-chevron-down {
  position: absolute;
  color: #585858;
  font-size: 15px;
  right: 0;
  top: 10%;
  transition: 0.5s;
}

.accoridan_head.open + .accordian_body {
    overflow: hidden;
    height: auto;
    display: block;
}


.accoridan_head.open i {
  rotate: -180deg;
  transition: 0.5s;
}


/* companies */

#companies {
  background: linear-gradient(90deg, #f3743516 -0.36%, #fdc63019 100%);
/* opacity: 0.05; */
padding-bottom: 0;
}



#companies .text_side  h3{
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
}

#companies .image_side iframe {
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
  linear-gradient(to right, #F37335, #FDC830) border-box;
  border-radius: 10px;
}

#companies .row.stats {
  margin-top: 100px;
  background-color: #343434;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 0 100vmax #343434;
  clip-path: inset(0 -100vmax);
  min-height: 225px ;
  padding-top: 50px 0;
}
#companies .row.stats .col-2 {
  flex-direction: column;
}

#companies .row.stats .col-2 h3{
  font-weight: 400;
  font-size: 40px;
  line-height: 130%; 
}


#companies .row.stats p{
  color: #fff !important;
}

#companies .comps {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;  
  box-shadow: 0 0 0 100vmax #fff;
  clip-path: inset(0 -100vmax);

}
#companies .comps div {
  padding: 0;
}



/*  Records */

#records .heading_part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#records .heading_part label {
  margin-right: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

#records .heading_part select {
  padding: 8px;
  background: rgba(155, 130, 130, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #322b2b;
  /* border: 1px solid #585858; */
  border: none;
}
#records .stats {
  border-radius: 10px;
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
  linear-gradient(to right, #F37335, #FDC830) border-box;
  border-radius: 10px;
  margin-bottom: 35px;
}

#records .row.stats {
  margin-top: 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#records .row.stats .col-2 {
  padding: 25px 20px;

}
#records .row.stats .col-2 h3{
  font-weight: 400;
  font-size: 40px;
  line-height: 130%; 
}

#records ul.tab {
  display: flex;
  /* align-self: center; */
  /* justify-content: flex-start; */
  gap: 30px;
  border-bottom: 1px solid #bcafaf;
}
#records ul.tab li a{
  display: flex;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  transition: all 0.5s;
}
#records ul.tab li {
  border-bottom: 2px solid transparent;
  transition: all 1s;
}
#records ul.tab li.active {
  transition: all 1s;
  border-color: #F37335;
}
#records ul.tab .active {
  background: linear-gradient(to right, #F37335 0%, #FDC830 100%);
  background-clip: text;
	-webkit-text-fill-color: transparent;
}

#records .tabs {
  padding: 30px 0;
}
#records .tabb.active {
  animation: showHide 1s linear 0s 1 forwards;
  display: block;
}

#records .tabb {
  opacity: 0;
  display: none;
  transition: all 0.5s;
}
#records table {
  border-collapse: collapse;
  border: none;
  width: 100%;
}

table.table tr td {
  padding: 20px 15px;
  border-bottom: 1px solid #908181;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}
table.table tr th {
  background-color: #222;
  color: #fff;
  padding: 15px;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
}

*  dreams */

#dreams {
  background-color: #DDDDDD;
}
#dreams .heading_part {
  margin-bottom: 10px;
}
#dreams .ctc {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* gap: 200px; */
}
#dreams .ctc h3 {
  padding: 100px 60px;
}

#dreams .card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0 -8px;
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin-top: 30px;
}

 #dreams .active {
  /* border: 1px solid transparent; */
  background: linear-gradient(white, white) padding-box,
  linear-gradient(to right, #F37335, #FDC830) border-box;
}

/*
#dreams .active::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
} */

#dreams .card h3{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-top: 10px;
 }
 
 #dreams .card span {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #585858;
  margin-top: 3px;
 }

 #dreams .card img:last-child {
  width: 65.33px;
  max-width: 100%;
  height: 20px;
  margin-top: 14px;
 }

/* Shining */
#shining {
  background: rgba(246, 242, 236, 0.5)
}

 #shining .card {
  margin-top: 40px;
  min-height: 425px;
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
  linear-gradient(to right, #F37335, #FDC830) border-box;
  border-radius: 10px;
  padding: 20px;
 }

 #shining .card img {
  border-radius: 10px;
 }

 #shining .card h3 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  color: #121112;
 }

 #shining .card p{
  text-align: justify;
  margin-top: 10px;
  font-weight: 400;
  font-size: 13px;
  color: #585858;
 }

 /* focused */

 #focused nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

 
#focused ul.tab {
  display: flex;
  /* align-self: center; */
  /* justify-content: flex-start; */
  gap: 30px;
  border-bottom: 1px solid #bcafaf;
}
#focused ul.tab li a{
  display: flex;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  transition: all 0.5s;
}
#focused ul.tab li {
  border-bottom: 2px solid transparent;
  transition: all 1s;
}
#focused ul.tab li.active {
  transition: all 1s;
  border-color: #000000;
}

#focused .tabs .card {
  display: flex;
  align-items: center;
  gap: 80px ;
  margin-top: 40px;
}
#focused .tabs .card img {
  border-radius: 10px;
}

#focused .card h3{
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  margin-bottom: 30px;
}

#focused .tabs .ftab {
  display: none;
}
#focused .tabs .ftab.active {
  animation: showHide 1s linear 0s 1 forwards;
  display: block;
}




/* Speak */

#speak {
  background-color: #FBFBFB;;
}
#speak .heading_part {
  text-align: center;
  margin-bottom: 50px;
}
#speak .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 200px;
}

#speak .card img {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}
#speak .card h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  color: #121112;
}
#speak .card span{
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 25px;
  font-style: italic;
 }

#speak .card p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  text-align: center;
  margin-bottom: 30px;
}

#speak .card .buttons {
  display: flex;
  gap: 30px;
}


#speak .card .buttons button i {
  font-size: 20px;
  margin: 10px;
  background: linear-gradient(to right, #F37335 0%, #FDC830 100%);
  background-clip: text;
	-webkit-text-fill-color: transparent;
}
#speak .card .buttons button {
  background-color: var(--color-white-light);
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
  linear-gradient(to right, #F37335, #FDC830) border-box;
  border-radius: 50%;
}

#divers .card {
    background-color: var(--color-white-light);
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
  linear-gradient(to right, #F37335, #FDC830) border-box;
}